.idea/
.vscode/
node_modules/
.zencoder
.zenflow
dist/

# Compilations
main.js
main.js.map
*.tsbuildinfo

# Environnement
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
